<!DOCTYPE HTML>
<HTML>
	<head>
	
	</head>
	<body onload="onload();">
	<h1> <center>Products List</center> </h1>
		<center><table cellspacing="50" class="table" style="margin-left:0px;magin-top:100px">		</center>
			<tbody>
				<tr th:if="${productsList.empty}">
	            	<td colspan="2"> <h1> Nenhum produto cadastrado. <h1> </td>
	        	</tr>
				
	        	<tr th:each="p : ${productsList}">
	            	<td><span th:text="${p.name}"> Produtos </span></td>
	        	</tr>       	 
			</tbody>
		</table>
		<a href="/">Back</a>
	</body>
</HTML> 